.template-select {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: calc(100vh - 54px);
}

.selct-file {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: calc(100vh - 54px);
  .card-body {
    width: 390px;
    .custom-file {
      position: absolute;
      width: 100%;
      height: 40px;
      bottom: 0;
      :hover {
        cursor: pointer;
      }
    }
    .input-group-append {
      width: 100%;
      button {
        margin-top: 40px;
        width: 100%;
        position: relative;
        z-index: 0;
      }
    }
  }
}

.cv-form {
  padding-top: 40px;
  h2 {
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }
  h2,
  h3 {
    margin-top: 20px;
    font-weight: 300;
    text-transform: uppercase;
  }
  .data-group {
    width: 60%;
    margin: 0 auto;
    button {
      display: block;
      margin: 0 auto;
    }
  }
  .btn-container {
    padding: 60px 0;
  }
  .btn-generate-tempalte {
    display: block;
    margin: 40px auto;
    width: 100%;
  }
  .download-cv-link {
    &:hover {
      text-decoration: none;
    }
  }
}

// .example-enter {
//   opacity: 0.01;
// }

// .example-enter.example-enter-active {
//   opacity: 1;
//   transition: opacity 500ms ease-in;
// }

// .example-leave {
//   opacity: 1;
// }

// .example-leave.example-leave-active {
//   opacity: 0.01;
//   transition: opacity 300ms ease-in;
// }
